.title-hub {
	font-size: 60px;
	font-style: normal;
	font-weight: 600;
	line-height: 110%;
	letter-spacing: -0.6px;
	@media (max-width: 1023px) {
		font-size: 50px;
	}
	@media (max-width: 699px) {
		font-size: 30px;
	}
}

.tile_hero-fake {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	border-radius: 20px;
	overflow: hidden;
	padding: 0;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media (max-width: 699px) {
	[data-hub-articles] > * .tile.tile_hero-fake {
		padding: 0;
	}
}

[data-video-st='button'] {
	&.is-hidden {
		opacity: 0;
		pointer-events: none;
	}
}

.btn-play-st {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='99' height='99' viewBox='0 0 99 99' fill='none'%3E%3Cg filter='url(%23filter0_b_3216_218)'%3E%3Ccircle cx='49.1703' cy='49.1703' r='49.1703' fill='black' fill-opacity='0.2'/%3E%3Ccircle cx='49.1703' cy='49.1703' r='48.1703' stroke='white' stroke-width='2'/%3E%3C/g%3E%3Cpath d='M41.3031 60.8321V37.2204C41.3031 35.6135 43.1021 34.6627 44.4297 35.5679L60.6628 46.6359C61.7856 47.4015 61.8344 49.04 60.759 49.8709L44.5259 62.4147C43.2113 63.4305 41.3031 62.4935 41.3031 60.8321Z' stroke='white' stroke-width='2' stroke-linejoin='round'/%3E%3Cdefs%3E%3Cfilter id='filter0_b_3216_218' x='-4' y='-4' width='106.341' height='106.341' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='2'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_3216_218'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_3216_218' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
	border: 0;
	outline: 0;
	padding: 0;
	appearance: none;
	// box-shadow: none;
	border-radius: 50%;
	opacity: 0.8;
	transition: opacity 0.3s ease-in-out;
	overflow: visible;
	animation: pulse-main 2s infinite;
	box-shadow: 0 0 0 30px rgba(#fff, 1);
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		margin-left: -50%;
		margin-top: -50%;
		border-radius: 50%;
		opacity: 0;
		background: #fff;
		backdrop-filter: blur(2px);
		// transform: scale(0.67);
		transition: all 0.3s ease-in-out;
		z-index: -1;
	}
	&:hover {
		opacity: 1;
		&:before {
			opacity: 0.2;
			transform: scale(1);
		}
	}
}

@keyframes pulse-main {
	0% {
		box-shadow: 0 0 0 0 rgba(#fff, 0.7);
	}
	70% {
		box-shadow: 0 0 0 30px rgba(#fff, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(#fff, 0);
	}
}

// @keyframes pulse-main {
// 	0% {
// 		box-shadow: 0 0 0 rgba(#e2622b, 0.7);
// 	}
// 	70% {
// 		box-shadow: 0 0 30px rgba(#e2622b, 0);
// 	}
// 	100% {
// 		box-shadow: 0 0 0 rgba(#e2622b, 0);
// 	}
// }

.max-video-h-center {
	text-align: center;

	video,
	img {
		display: inline-block;
		width: 160vh;
		background-color: #000;
		aspect-ratio: 16/9;
		@media (max-width: 699px) {
			width: 100%;
		}
	}

	@media (max-height: 800px) and (min-width: 700px) {
		video,
		img {
			width: 130vh;
		}
	}
}
